.main-header{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 1, 45);
}
.image{
    width: 100px;
    height: auto;
    margin: 0 0 0 30px;
}
.list{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0 30px 0 0;
}
.list a{
    text-decoration: none;
    color: rgb(238, 230, 230);
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.thumbnail{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.about-group{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 50px 0 50px 0;
    /* background-color: blue; */
}
.about-image{
    width: 300px;
    height: auto;
    margin: 0 15px 0 0;
}
.main-container{
    color: white;
}
.group-header{
    width: 800px;
    margin:  0 0 0 15px;
}
.main-container > .about-group > .group-header h2 {
    font-size: 40px;
    color: rgb(3, 1, 45);
    font-family: sans-serif;
}
.main-container > .about-group > .group-header p {
    font-size: 20px;
     color: rgb(3, 1, 45);
    font-family: sans-serif;
}
.main-container > .about-group > .group-header button {
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(221, 232, 19);
    font-size: 20px;
    font-family: sans-serif;
    margin: 50px 0 50px 0;
}
.bank-list{
    display: flex;
    align-items: center;
    /* background-color: black; */
    margin:  0 0 0 50px;
}
.group-bank{
    /* background-color: red; */
}
.group-bank h2{
    color: black;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    margin: 50px 0 50px 0;
   
}
.main-container > .group-bank >  .bank-list{
  width: 1200px;
  height: auto;
  border: 3px solid brown;
  border-radius: 5px;
  margin: 10px auto;
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}
.main-container > .group-bank >  .bank-list > .bank-item{
    
    width: 250px;
    height: 200px;
    /* border: 3px solid rgb(67, 42, 165); */
}
.main-container > .group-bank >  .bank-list > .bank-item > .bank-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}
.new-container{
        width: 80%;
        margin: 0 auto;
}
.header-new{
    margin: 50px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-new h2 {
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(3, 1, 45);
}
.header-new button {
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    background-color: rgb(221, 232, 19);
    font-size: 20px;
    font-family: sans-serif;
}
 .section-new  {
    width:100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(154, 27, 27); */
    /* background-color: aqua; */
    padding:  20px 0 20px 0 ;
}
.new-container > .section-new > .new-list{
    /* background-color: burlywood; */
       width: 350px;
       height: 400px;
         /* border: 1px solid black; */
}
.new-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width:350px;
    height: 250px;
    object-fit: cover;
}
.new-container > .section-new > .new-list p{
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px;
    color: rgb(3, 1, 45);
}
.main-footer{
    width: 100%;
    height: 150px;
    background-color: rgb(3, 1, 45);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.footer-list{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    color: rgb(238, 230, 230);
    /* margin: 20px 0 0 50px; */
    padding: 20px 0 0 50px;
    gap: 20px;
   
}
.footer-list a{
    text-decoration: none;
    color: rgb(238, 230, 230);
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}
.icon{
    display: flex;
    justify-content: space-between;
}
.icon p{
    color: rgb(238, 230, 230);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0 0 50px;
}
.icon > .icon-item{
    display: flex;
    gap: 15px;
    margin-top: 10px;
    padding: 0 50px 0 0;

}
.icon > .icon-item i {
    color: rgb(238, 230, 230);
    font-size: 20px;
    cursor: pointer;
    padding: 5px;}
.line{
    border-top: 1px solid rgb(238, 230, 230);
    margin: 50px 50px 0 50px;
}

@media (max-width: 480px) {
    .main-header{ height: 80px; }
    .image{ width: 80px; margin-left: 10px; }
    .list{ display: none; }
    .about-image{
        display: none;
    } 
    .main-container > .group-bank h2{
        font-size: 35px;
       text-align: center;
       justify-content: center;
        margin: 20px 0 40px 0;
    }
    .main-container > .group-bank >  .bank-list{
        width: 410px;
        height: auto;
        border: 3px solid brown;
        border-radius: 5px;
        margin: 10px auto;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        }
        .main-container > .group-bank >  .bank-list > .bank-item{
            
            width: 150px;
            height: 200px;
          
        }
        .main-container > .group-bank >  .bank-list > .bank-item > .bank-image{
        width: 100%;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
        }

    .new-container{ width: 95%; }
    .header-new h2{ font-size: 32px; }
    .new-image{ width:100%; height: 180px; }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .main-header{ height: 80px; }
    .image{ width: 80px; margin-left: 10px; }
    .list{ display: none; }
    .about-image{
        display: none;
    } 
    .main-container > .group-bank h2{
        font-size: 35px;
       text-align: center;
       justify-content: center;
        margin: 20px 0 40px 0;
    }
    .main-container > .group-bank >  .bank-list{
        width: 410px;
        height: auto;
        border: 3px solid brown;
        border-radius: 5px;
        margin: 10px auto;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        }
        .main-container > .group-bank >  .bank-list > .bank-item{
            
            width: 100px;
            height: 200px;
          
        }
        .main-container > .group-bank >  .bank-list > .bank-item > .bank-image{
        width: 100%;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
        }

    .new-container{ width: 95%; }
    .header-new h2{ font-size: 32px; }
    .new-image{ width:100%; height: 180px; }

  
}

@media (min-width: 1025px) {
    .main-header{ height: 80px; }
    .image{ width: 80px; margin-left: 10px; }
    
  
    .main-container > .group-bank h2{
        font-size: 35px;
       text-align: center;
       justify-content: center;
        margin: 20px 0 40px 0;
    }
    .main-container > .group-bank >  .bank-list{
        width: 800px;
        height: auto;
        border: 3px solid brown;
        border-radius: 5px;
        margin: 10px auto;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        }
        .main-container > .group-bank >  .bank-list > .bank-item{
            
            width: 150px;
            height: 200px;
          
        }
        .main-container > .group-bank >  .bank-list > .bank-item > .bank-image{
        width: 100%;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
        }

    .new-container{ width: 95%; }
    .header-new h2{ font-size: 32px; }
    .new-image{ width:100%; height: 180px; }

}